Disallow control characters in the username and password input-fields

[RFC 7617 Sections 2](https://datatracker.ietf.org/doc/html/rfc7617#section-2) explicitly forbids the use of control characters in the Basic auth credentials:  
`The user-id and password MUST NOT contain any control characters (see "CTL" in Appendix B.1 of [RFC5234]).`

Currently text entered in the input fields `HTTP Basic auth username` and `HTTP Basic auth password` is not checked for control characters.

Consider checking these fields for control characters and showing an error message, similarly to how it's currently done with disallowed `:` in the username.

Landed in 1.2.9.